.header {
    padding: 1rem 2rem;
    background: linear-gradient(20deg, rgba(255, 255, 0, 1) 0%, rgba(38, 61, 15, 1) 0%, rgba(115, 184, 46, 1) 100%);;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(15, 38, 68, 0.16);
}

.logo {
    color: var(--DEFAULT_WHITE);
    font-size: 1.25rem;
    line-height: 1;
    font-weight: bold;

}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation li {
    list-style: none;
    color: var(--DEFAULT_WHITE);
}

.cart {
    display: flex;
    align-items: center;
}

.cart span {
    margin-right: 8px;
}

