.customInput {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 0.25rem;
}

.requiredMark {
    color: var(--ERROR_COLOR);
}

.input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--BORDER_COLOR);
    outline: none;
}

.input:focus,
.input:active {
    border: 1px solid var(--SHADE_OF_GREEN);
}

.input:focus:invalid {
    border-color: var(--ERROR_COLOR);
}
