*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--SHADE_OF_GREY);
    color: var(--TXT_COLOR);
    overflow-x: hidden;
}

:root {
    /* Color Constant */
    --SHADE_OF_GREY: #f5f5f5;
    --BORDER_COLOR: #bcbcbc;
    --PLACEHOLDER_COLOR: #a4adb3;
    --ERROR_COLOR: #ea5b71;
    --SHADE_OF_GREEN: #79c131;
    --DEFAULT_BLACK: #000000;
    --DEFAULT_WHITE: #ffffff;
    --TXT_COLOR: #031235;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.1;
    color: inherit;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    /* 100vh minus header height */
    height: calc(100vh - 3.25rem);
}

.page-header {
    padding: 0 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.page-content {
    padding: 2rem;
    width: 80%;
    margin: 0 auto;
    flex: 1;
}

@media screen and (max-width: 958px) {
  html,
  body {
      font-size: 14px;
  }

  .page-content {
    width: 100%
  }
}

@media screen and (min-width: 1824px) {
  html,
  body {
      font-size: 18px;
  }
}
